<div id="<%= dom_id message %>">
  <p>
    <strong><%= message.user.username %></strong>
    <small><%= message.created_at.strftime("%H:%M:%S") %></small>
    <br>
    <%= message.content %>
  </p>
</div>
