<div id="<%= dom_id participant %>">
  <p>
    <strong>User:</strong>
    <%= participant.user_id %>
  </p>

  <p>
    <strong>Conversation:</strong>
    <%= participant.conversation_id %>
  </p>

</div>
